{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" {% block html_attribute %}{% endblock html_attribute %}>
<head>
      <!-- Title Meta -->
<meta charset="utf-8" />
<title>{% block title %}{% endblock title %} | AsterProof</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="AsterProof problem analytics and workbook import dashboard.">
<meta name="keywords" content="AsterProof, problem analytics, workbook import, math training">
<meta name="author" content="AsterProof">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    {% block css %}

            {% block extra_css %} {% endblock extra_css %}

            <!-- =========css=========== -->
            <!-- Theme Config Js -->
            <script src="{% static 'js/config.js' %}"></script>
            <!-- Vendor css -->
            <link href="{% static 'css/vendors.min.css' %}" rel="stylesheet" type="text/css">
            <!-- App css -->
            <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css">

    {% endblock css %}

</head>
<body {% block body_attribute %}{% endblock body_attribute %}>

{% block body %}
{% block preloader %}{% endblock %}
{% block content %}{% endblock content %}
{% endblock body %}

{% block extra_body %}{% endblock extra_body %}

{% block javascript %}

    <!-- =======js================ -->
    <!-- Vendor js -->
    <script src="{% static 'js/vendors.min.js' %}"></script>
    <!-- App js -->
    <script src="{% static 'js/app.js' %}"></script>

    {% block extra_javascript %} {% endblock extra_javascript %}

{% endblock javascript %}

</body>
</html>
